@if (isCreating() || isEditing()) {

<app-lesson-form
  [lesson]="selectedLesson()"
  [topics]="topics()"
  [positions]="isEditing() ? editPositions() : createPositions()"
  [saving]="saving()"
  (save)="onSave($event)"
  (cancel)="onCancel()"
/>

} @else if (isManagingTags() && selectedLessonForTags()) {
<app-lesson-tag-page
  [lessonId]="selectedLessonForTags()!.id"
  [lessonTitle]="selectedLessonForTags()!.title"
  (close)="onCancel()"
/>
} @else if (isManagingResources() && selectedLessonForResources()) {
<app-lesson-resource-page
  [lessonId]="selectedLessonForResources()!.id"
  [lessonTitle]="selectedLessonForResources()!.title"
  (close)="onCancel()"
/>
} @else if (isManagingQuestions() && selectedLessonForQuestions()) {
<app-practice-question-page
  [lessonId]="selectedLessonForQuestions()!.id"
  [lessonTitle]="selectedLessonForQuestions()!.title"
  (close)="onCancel()"
/>
} @else {

<div class="space-y-6">
  <app-lesson-header
    (create)="onCreate()"
    (search)="onSearch($event)"
    (sort)="onSort($event)"
  />

  @if (loading()) {

  <div class="flex items-center justify-center py-12">
    <p class="text-neutral-500 font-semibold animate-pulse dark:text-neutral-400">Loading Lessons...</p>
  </div>

  } @else {

  <app-lesson-list
    [lessons]="sortedLessons()"
    [topics]="topics()"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (lessonTags)="onLessonTags($event)"
    (lessonResources)="onLessonResources($event)"
    (practiceQuestions)="onPracticeQuestions($event)"
  />

  }
</div>

}
