@if (isCreating() || isEditing()) {
  <app-topic-form
    [topic]="selectedTopic()"
    [chapters]="chapters()"
    (save)="onSave($event)"
    (cancel)="onCancel()"
    [positions]="isEditing() ? editPositions() : createPositions()"
  ></app-topic-form>
} @else {
  @if (loading()) {
    <div class="flex items-center justify-center py-12">
      <p class="text-neutral-500 font-semibold animate-pulse dark:text-neutral-400">
        Loading Topics...
      </p>
    </div>
  } @else {
    <div class="flex flex-col gap-2">
      <app-topic-header
        (create)="onCreate()"
        (search)="onSearch($event)"
        (sort)="onSort($event)"
      ></app-topic-header>

      <app-topic-list
        [topics]="sortedTopics()"
        [chapters]="chapters()"
        (edit)="onEdit($event)"
        (delete)="onDelete($event)"
      ></app-topic-list>
    </div>
  }
}