<div class="rounded-3xl bg-neutral-200 p-6 dark:bg-neutral-800">
  <div class="mb-10">
    <button
      type="button"
      (click)="cancel.emit()"
      class="mb-6 flex items-center gap-2 text-sm font-medium text-neutral-500 transition hover:text-neutral-900 dark:hover:text-neutral-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2.5"
          d="M15 19l-7-7 7-7"
        />
      </svg>

      Back to Subjects
    </button>

    <div class="flex max-w-5xl justify-between gap-2">
      <div>
        <h1 class="text-3xl font-bold text-neutral-900 dark:text-neutral-100">
          {{ subject() ? 'Edit Subject' : 'Create Subject' }}
        </h1>

        <p class="mt-2 text-sm text-neutral-500">
          {{
            subject()
              ? 'Update the information for this subject.'
              : 'Create a new subject for your learning platform.'
          }}
        </p>
      </div>

      <!-- Status -->
      <div class="space-y-2">
        <div class="flex items-center gap-1 rounded-full bg-neutral-100 p-1 w-fit dark:bg-[#313131]">
          <button
            type="button"
            (click)="form.controls.isPublished.setValue(true)"
            [class]="
              form.controls.isPublished.value
                ? 'rounded-full bg-neutral-200 px-4 py-1.5 text-pink-400 transition dark:bg-neutral-800'
                : 'rounded-full px-4 py-1.5 text-neutral-500 transition hover:text-neutral-900 dark:text-neutral-400 dark:hover:text-neutral-200'
            "
          >
            Published
          </button>

          <span class="text-neutral-300 dark:text-neutral-600">•</span>

          <button
            type="button"
            (click)="form.controls.isPublished.setValue(false)"
            [class]="
              !form.controls.isPublished.value
                ? 'rounded-full bg-neutral-200 px-4 py-1.5 text-pink-400 transition dark:bg-neutral-800'
                : 'rounded-full px-4 py-1.5 text-neutral-500 transition hover:text-neutral-900 dark:text-neutral-400 dark:hover:text-neutral-200'
            "
          >
            Draft
          </button>
        </div>
      </div>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()" class="max-w-5xl space-y-6">
    <!-- Name -->
    <div>
      <label class="mb-2 block text-sm font-medium text-neutral-500 dark:text-neutral-400"> Name </label>

      <input
        type="text"
        formControlName="name"
        placeholder="Mathematics"
        class="w-full rounded-xl bg-neutral-100 px-4 py-3 text-neutral-900 placeholder:text-neutral-400 outline-none transition dark:bg-[#313131] dark:text-neutral-100 dark:placeholder:text-neutral-500"
      />
    </div>

    <!-- Description -->
    <div>
      <label class="mb-2 block text-sm font-medium text-neutral-500 dark:text-neutral-400"> Description </label>

      <input
        type="text"
        rows="4"
        formControlName="description"
        placeholder="Describe this subject..."
        class="w-full rounded-xl bg-neutral-100 px-4 py-3 text-neutral-900 placeholder:text-neutral-400 outline-none transition dark:bg-[#313131] dark:text-neutral-100 dark:placeholder:text-neutral-500"
      />
    </div>

    <!-- Color -->
    <div>
      <label class="mb-3 block text-sm font-medium text-neutral-500 dark:text-neutral-400"> Color </label>

      <div class="flex align-middle justify-between">
        <div class="flex flex-wrap gap-4">
          @for (color of colorPalette; track color.hex) {
            <div class="flex flex-col items-center">
              @if (form.get('color')?.value === color.hex) {
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mb-1 h-4 w-4 text-neutral-700 dark:text-neutral-200"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="3"
                    d="M5 13l4 4L19 7"
                  />
                </svg>
              } @else {
                <!-- Reserve the same space so circles stay aligned -->
                <div class="mb-1 h-4 w-4"></div>
              }

              <button
                type="button"
                (click)="selectColor(color.hex)"
                class="h-7 w-7 rounded-full transition duration-200 hover:scale-110"
                [style.background]="color.hex"
              ></button>
            </div>
          }
        </div>
        <div>
          <p class="mt-4 font-mono text-xs text-neutral-500">
            {{ getSelectedColor()?.name }}
            ·
            {{ getSelectedColor()?.hex }}
          </p>
        </div>
      </div>
    </div>

    <!-- Icon -->
    <div>
      <label class="mb-3 block text-sm font-medium text-neutral-500 dark:text-neutral-400"> Symbol </label>
      <div class="flex items-center justify-between gap-8">
        <div class="flex flex-wrap gap-1">
          @for (icon of icons; track icon.name) {
            <button
              type="button"
              (click)="selectIcon(icon.name)"
              [class]="
                form.get('icon')?.value === icon.name
                  ? 'flex h-9 w-9 items-center justify-center rounded-full bg-neutral-100 transition-colors duration-200 dark:bg-[#313131]'
                  : 'flex h-9 w-9 items-center justify-center rounded-full transition-colors duration-200 hover:bg-neutral-100 dark:hover:bg-[#313131]'
              "
            >
              <span
                class="material-symbols-outlined text-neutral-500 dark:text-neutral-400"
                [class.text-pink-400]="form.get('icon')?.value === icon.name"
              >
                {{ icon.name }}
              </span>
            </button>
          }
        </div>
        <p class="mt-4 font-mono text-xs text-neutral-500">
          {{ form.get('icon')?.value }}
        </p>
      </div>
    </div>

 <div>
  <label class="mb-3 block text-sm font-medium text-neutral-500 dark:text-neutral-400">
    Display Order
  </label>

  <div class="flex flex-wrap gap-2">

    @for (position of positions(); track position) {

      <button
        type="button"
        (click)="form.controls.displayOrder.setValue(position)"
        [class]="
          form.controls.displayOrder.value === position
            ? 'rounded-full bg-neutral-100 px-3 py-1.5 text-sm text-pink-400 transition dark:bg-[#313131]'
            : 'rounded-full px-3 py-1.5 text-sm text-neutral-500 transition hover:bg-neutral-100 dark:hover:bg-[#313131]'
        "
      >
        {{ position }}
      </button>

    }

  </div>
</div>

    <!-- Actions -->
    <div class="flex justify-end gap-4 pt-8">
      <button
        type="button"
        (click)="cancel.emit()"
        class="rounded-full px-6 py-3 text-sm font-semibold text-neutral-500 transition hover:bg-neutral-100 hover:text-neutral-900 cursor-pointer dark:text-neutral-400 dark:hover:bg-[#313131] dark:hover:text-white"
      >
        Cancel
      </button>

      <button
        type="submit"
        class="rounded-full bg-pink-400 px-8 py-3 text-sm font-bold text-black transition hover:bg-pink-400 cursor-pointer"
      >
        {{ subject() ? 'Update Subject' : 'Create Subject' }}
      </button>
    </div>
  </form>
</div>
